<section class="content-wrapper">
  <mat-card class="profile-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-title>My Profile {{ form.valid }}</mat-card-title>
      <mat-card-content>
        <div class="form-container">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text" name="firstName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text" name="lastName" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
          SAVE
        </button>
        <a mat-button [routerLink]="['/profile']">CANCEL</a>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
